{{> header }}
 {{> navbar }}

 <div class="row">

<div class="col-8">

<h1>
Casa Barra de chuy
</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem tenetur harum aspernatur! Placeat neque sit provident perferendis necessitatibus quo impedit fuga est labore aliquid ex soluta sed, perspiciatis voluptates esse.</p>

</div>
<div class="col-4">

    <img src="assets/img/img1.jpeg" class="img-thumbnail">
</div>

 </div>



  {{> footer }}